/*
 * General typography and color pallet
 */
body{
  font-family: 'Open Sans', helvetica, sans-serif;
  /* font-size: 0; Fixes Spacing*/
}

h1, h2, h3, h5{
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 100%
}

 /*
  * Main Layout
  */
.container{
  width: 1300px;
  margin: 0 auto;
}

header{
  position: relative; /* for absolute children */
  background: #FFF url('https://unsplash.it/1300/523') no-repeat;
  background-size: cover;
  height: 523px;
  margin-bottom: 68px;
}

header::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
}

/* Position these to bring them above overlay */
header nav, header h1, header h3 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;

  padding-right: 02.7504912%;
}

/* we need to clear the floats! */
nav::after {
  content: "";
  display: table;
  clear: both;
}

.branding {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.branding h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.branding h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.branding h2 > span > span {
  letter-spacing: -0.7px;
}

.branding img,
.branding h2 {
  vertical-align: middle;
}

.Sp-logo {
  overflow: hidden;
  border-radius: 22.5px;
  border: 1px solid transparent;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-links li:first-child {
  position: relative;
  top: -1px;
}

.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li img {
  margin-left: 4px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;

  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -3px;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}

/* column-1 info */
.column-1{
  display: inline-block;
  width: 47%;
  margin-left: 12%;
  margin-right: 3%;
  color: #5E686E;
}

h5 {
  font-size: 50px;
  margin: 0;
  color: #093450;
  display: inline-block;
}

.authortiny{
  height: 22px;
  border-radius: 11px;
  overflow: hidden;
}

.byline a{
  text-decoration: none;
  color: #0057A6;
}

.timestamp{
  text-decoration: underline;
}

.pull-quote{
  padding: 4px;
  border-left: 2px solid #D3D3D3;
  font-size: larger;
}
.pull-quote span{
  font-size: 40px;
  color: #146EAE;
}
/* http://www.w3schools.com/css/css_link.asp */
p > a:link {
  color: #146EAE;
}

p > a:visited {
  color: #A3B3BE;
}

.article-links{
  display: inline-block;
  height: 30px;
  width:100%;
  font-size: 0;
}

.article-links div{
  font-size: 16px;
  display: inline-block;
  margin: 5px;
  color: #FFF;
  padding: 10px 14px 10px 14px;
}
/*
.article-links > div > i{
  padding:10px;
  background-color: #5E686E;
}
*/
.readcomments{
  width: 155px;
  background-color: #A3B3BE;
}

.readlater{
  width: 125px;
  background-color: #A3B3BE;
}

.sharestory{
  width: 151px;
  background-color: #146EAE;
}
/* column2 info */
.column-2{
  display: inline-block;
  width: 21%;
  margin-right: 12%;
  margin-left: 4%;
}

.author-photo{
  display: block;
  border-radius: 42px;
  overflow: hidden;
  margin-left: 33%;
}

.authorname{
  display: block;
  text-align: center;
  color: #0057A6;
}

.sociallinks{
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #ADBCC5;
  padding: 0;
}

.sociallinks > a{
  color: #A3B3BE;
  text-decoration: none;
}

.ad-info{
  color: #A3B3BE;
  text-align: right;
  margin-left: 50%;
  margin-right: 0;
}

h6 {
  color: #146EAE;
  text-align: left;
  font-size: 30px;
  margin: 0px;
}

.sidebar{
  text-align: left;
}

/* Footer Section */
footer{
  position: relative;
  margin-top: 68px;
  padding-top: 40px;
  border-top: 1px solid #E1E7EA;
  font-size: 0; /*for picture space #delete*/
}

footer > a{
  color:#093450;
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  height: 330px;
  width: 25%;
  background: url('https://unsplash.it/325/330');
}

footer > a:hover{
  color: #FFF;
}

h3{
  text-align: center;
  font-size: 30px;
}

/*
footer::before{
  content: '';
  display: block;
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
  max-width: 1300px;
}
*/


/*bottombar info */

.bottombar{
  position: relative;
  display: inline-block;
  height: 97px;
  width: 100%;
  max-width: 1300px;
  background-color: #093450;
  padding-top: 41px;
  padding-left: 12%;
  padding-right: 12%;
  margin: 0px;
}

.copyright{
  color: #A3B3BE;
  position: relative;
  display: inline-block;
  font-size: 12px;
}
/*
.articlelink:hover{
  z-index: 100;
}
*/
.navbottom{
  float: right;
  display: inline-block;
  position: relative;
  font-size: 12px;
}

.navbottom > a{
  color: #A3B3BE;
  text-decoration: none;
}
