header{
  position: relative;
  background-image: url('https://unsplash.it/1300/600'
);
  height: 523px;
}

header::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background-color: rgba(28, 107, 174, 0.5);
}

.branding,
.utility-nav,
h1, h3{
  position: relative;
}
